<!DOCTYPE html>

<html>
    <head>
        <title>Help</title>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        {{!-- to render a partial --}}
        <div class="main-content">
            {{>header}}
            <p>Help message entered is: {{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>